@font-face {
    font-family: "Shockwave";
    src: local("Shockwave"),
     url("../Fonts/Shockwave.ttf") format("truetype");
}

.scene-display-container {
    height: 100%;
}

.scene-display-center {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.scene-display {
    font-family: 'Shockwave';
    font-size: 18em;
}