:root {
    --main-text-color: white;
    
}

body {
    margin: 0;
}

.app {
    background: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    color: var(--main-text-color);

    height: 100vh;
}